.vscode/
# =========================
# Visual Studio files
# =========================
.vs/

*.suo
*.VC.db
*.VC.opendb
*.vsidx
*.ipch

# =========================
# Build folders
# =========================
Debug/
Release/
x64/
x86/
*/Debug/
*/Release/

# =========================
# Compiled binaries
# =========================
*.exe
*.dll
*.lib
*.obj
*.pdb
*.ilk
*.idb
*.tlog
*.recipe

# =========================
# OS files
# =========================
Thumbs.db
.DS_Store
